body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

html {
 box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.navbar {
	background-color: #dcd1d1;
}

#root {
	background-image: url('./Images/jess-watters-505753-unsplash.jpg');
	height: 100vh;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*.image {
		background-repeat:no-repeat;
		position: relative;
		z-index: -1;
		width: 90%;
		max-width: 1800px;
		display: flex;
		margin-left: auto;
		margin-right: auto;
		height: 100vh;
		border-radius: 10px;
		opacity: 0.6;
  		box-shadow: inset 0 50px rgba(255,255,255,0.9), 
              		inset 0 -15px 30px rgba(0,0,0,0.4),
                 	0 5px 10px rgba(0,0,0,0.5);
}*/


/*.homeButton {
	position: absolute;
	z-index: 2;
	top: 250px;
	padding-left: 25em;
}*/








